.DS_Store
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
**/node_modules/
apps/api/dist/
apps/api/coverage/
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/coverage/
apps/mobile/.flutter-plugins*
apps/mobile/android/local.properties
.idea/
*.iml
.vscode/
infrastructure/data/
*.log
